/* styles for comment function */

.post {
    width:98%;
    border:solid 2px;
    border-radius: 4px;
    border-color:#EFEFEF;
    background:#9AD2FF;
    padding:10px;
}
    

.kontakt {
    min-width:98%;
    display:inline;
    float:left;
}

.editform textarea {
    width:250px;
    padding: 0;
    border: 1px solid #ccc;
    }

    
